
<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<link href="css/general.css" rel="stylesheet" type="text/css" />
	
</h:head>
<h:body>


	<h:panelGroup layout="block" id="bg-header">
		<h:panelGroup layout="block" id="wrap-header">
			<h:panelGroup layout="block" id="banner">
				<h1>EASY SURVEY</h1>
				<h3>Cuestionarios Digitales en la Nube</h3>

			</h:panelGroup>

		</h:panelGroup>
	</h:panelGroup>

	<h:panelGroup layout="block" id="bg-menu">
		<h:panelGroup layout="block" id="wrap-menu">

			<p:menubar>
				<p:submenu label="Inicio">
					<p:menuitem value="Bienvenida" url="index.xhtml" />
					<p:menuitem value="Quienes Somos" url="quienes.xhtml" />
				</p:submenu>
				<p:submenu label="Cuestionarios">
					<p:menuitem value="Buscar" url="buscar.xhtml" />
					<p:menuitem value="Crear" url="crear.xhtml" />
					<p:menuitem value="Administrar" url="administrar.xhtml" />
				</p:submenu>
				<p:submenu label="Ayuda">
					<p:menuitem value="Empezar" url="empezar.xhtml" />
					<p:menuitem value="Preguntas Frecuentes"
						url="http://www.myspace.com" />
				</p:submenu>
				<p:submenu label="Registrarse">
					<p:menuitem value="Nuevo Usuario" url="registar.xhtml" />
				</p:submenu>
				<p:submenu label="Logueo">
					<p:menuitem value="Iniciar Sesion" url="login.xhtml" />
				</p:submenu>
			</p:menubar>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup layout="block" id="bg-body">
		<h:panelGroup layout="block" id="wrap-body">
			<h:panelGroup layout="block" id="space-body"></h:panelGroup>
			<h:panelGroup layout="block" id="inner-body">

<h3><h:outputText id="usuario" value="Bienvenido Usuario: " />#{loginBean.nick}</h3> 


<p:accordionPanel>
	 <p:tab title="Cuestionario">
	   	 <h:panelGroup layout="block" id="cuerpocuestionarios">
		 	<h:panelGroup layout="block" id="miscuestionarios">
				<h:panelGroup layout="block" id="contenido">
					
					<h3><h:outputText value="Total Cuestionarios:"/>#{showQL.user}</h3>
					<p:commandButton value="LISTAR" actionListener="#{showQL.Listar()}" />
					<h:form>
						<h:commandButton action="recargar" value="RECARGAR"></h:commandButton>
					</h:form>
					
					<p:dataTable var="lista" value="#{showQL.lista}">
						<p:column headerText="N">
							<h:outputText value="#{lista.nro}"/>
						</p:column>
						<p:column headerText="Cuestionario">
							<h:outputText value="#{lista.titulo}"/>
						</p:column>
						<p:column headerText="Preguntas">
							<h:outputText value=""/>
						</p:column>
					</p:dataTable>									
					<h:form>
				
					</h:form>
					<!--  div style="text-align: left; margin-left: 80px;">	<input type="button" id="calificar" value="Calificar" /-->
				
				</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup layout="block" id="useronline">
				<b>Usuarios en linea:</b>
				<h:panelGroup layout="block" class="usuarioconectado">
					<h:panelGroup layout="block" class="avatarusuario"><img src="imgs/avatars/01.PNG"/></h:panelGroup>Leyla Carpio
				</h:panelGroup>	
			</h:panelGroup>
		 </h:panelGroup>	
	</p:tab>
</p:accordionPanel>
 		

			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup layout="block" id="bg-footer">
		<h:panelGroup layout="block" id="wrap-footer">
			<h:panelGroup layout="block" id="derechos">
   			Pie de Pagina
			</h:panelGroup>
		</h:panelGroup>
	</h:panelGroup>
</h:body>
</html>